.full-bleed {
    width: 100vw;
    max-width: 90rem;
    margin-left: calc(50% - 50vw);
}

// .full-bleed>* {
//     max-width: 50rem;
//     margin-left: auto;
//     margin-right: auto;
// }
.wrapper {
    max-width: 77.5rem;
    margin-left: auto;
    margin-right: auto;
}

body {
    color: $color-dark-blue;
}

a {
    text-decoration: none;
    color: $color-dark-blue;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex: 0 50%;
    padding: 1rem 2.2rem;
    background-color: transparent;
    color: $color-dark-blue;
    border: none;
    a {
        flex-wrap: nowrap;
        white-space: nowrap;
        color: $color-dark-blue;
        font-weight: 400;
        text-decoration: none;
    }
}

.active-btn {
    background-color: $color-dark-blue;
    color: $color-sand;
    border: none;
    border-radius: 10.875rem;
    a {
        flex-wrap: nowrap;
        color: $color-sand;
    }
}