.full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

// .full-bleed>* {
//     max-width: 50rem;
//     margin-left: auto;
//     margin-right: auto;
// }
.wrapper {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}